html,
body {
  margin: 0;
  display: flex;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

canvas {
  border: none;
  aspect-ratio: inherit !important;
}

#controls {
  resize: horizontal;
  width: 25%;
  background-color: black;
  overflow: auto;
}

#renderer {
  flex: 1;
}